launchDir = "$proj/barn/chipseq/zm.ca20a"
workDir = "$NXF_CACHE/work/chipseq/zm.ca20a"

includeConfig "$nf/configs/nextflow.config"
includeConfig "$nf/configs/fastq.config"
includeConfig "$nf/configs/mapping.config"
includeConfig "$nf/configs/chipseq.config"

params {
  genome = 'Zmays_B73v5'
  lib = 'atacseq'
  name = 'zm.ca20a'
  design = 'design.tsv'
  source = 'local'
  read_type = 'illumina'
  paired = 'PE'
  outdir = "./raw"
  s3dir = "/home/springer/zhoux379/projects/s3/zhoup-nfo"
  tracedir = "./pipeline_info"
  stranded = 'no'
  interleaved = false
  save_fastq = false
  trimmer = "fastp"
  save_trimmed = false
  aligner = "bwa"
  saveBAM = false
  skip_preseq = true
  skip_markdup = true
}

process {
  withName:bwa {
    cpus = 12
    memory = { task.attempt==1 ? 55.GB : 60.GB }
    time = { task.attempt==1 ? 50.h : 60.h }
  }
}
